<div class="flex-container">
  <div class="flex-item">
    <div class="question-detail">
      <div class="author">
        <p>{{question.author}}</p>
      </div>
      <div class="topic">
        {{question.topic}}
      </div>
      <div class="title">
        <p>{{question.title}}</p>
      </div>
      <div class="additionalNotes">
        <p>{{question.additionalNotes}}</p>
      </div>
      <div>
        <div class="deleteQuestion">
          <button type="button" name="button" {{action 'delete' question}}>Delete Question</button>
        </div>
      </div>
    </div>
    <div class="editQuestion">
    {{update-question question=question update="update"}}
    </div>
    <h2>Answer</h2>
<ul>
  {{#each sortedAnswers as |answer|}}
    {{answer-tile answer=answer isUpVote="isUpVote" isDownVote="isDownVote"}}
{{/each}}
</ul>
  </div>
</div>
