<div class="flex-container">
  <div class="flex-item">
    <div class="questionDetails">
      <div class="author">
        <p>{{question.author}}</p>
      </div>
      <div class="topic">
        <p>{{question.topic}}</p>
      </div>
    </div>
    <p class="title">{{question.title}}</p>
    {{#if isNoteShowing}}
      <p class="additionalNotes">{{question.additionalNotes}}</p>
      <button{{action "hideNote"}}>Show Less</button>
      {{else}}
      <button{{action "showNote"}}>Show More</button>
      {{/if}}
     </div>
</div>
