<div class="flex-container">
  <div class="flex-item">
    <div class="questionDetails">
      {{#link-to 'view-question' question.id}}
        <p class="title">{{question.title}}</p>
      {{/link-to}}
      <div class="rateQuestion">
          {{question-popularity question}}
      </div>
      <div class="author">
        {{#link-to 'view-question' question.id}}
          <p>By {{question.author}}</p>
        {{/link-to}}
      </div>
    </div>
    {{#if isNoteShowing}}
      <div>
        <p>{{question.topic}}</p>
        <p class="additionaslNotes">{{question.additionalNotes}}</p>
      </div>
      <button {{action "hideNote"}}>Show Less</button>
    {{else}}
      <button {{action "showNote"}}>Show More</button>
    {{/if}}
      <button {{action 'addToFavoriteQuestions' question}} class="popularQuestions" type="button" name="button">Add to Popular Questions</button>
  </div>
</div>
