<div class="flex-container">
  <div class="flex-item">
    <div class="question-detail">
      <div class="author">
        <p>{{question.author}}</p>
      </div>
      <div class="topic">
        {{question.topic}}
      </div>
      <div class="answer-question">
        <button class="btn btn-lg">ANSWER</button>
      </div>
      <div class="title">
        <p>{{question.title}}</p>
      </div>
      <div class="additionalNotes">
        <p>{{question.additionalNotes}}</p>
      </div>
      <div>
        <div class="deleteQuestion">
          <button type="button" name="button" {{action 'delete' question}}>Delete Question</button>
        </div>



      </div>
    </div>
    <div class="editQuestion">
    {{update-question rental=rental update="update"}}
    </div>
  </div>
</div>
